body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./images/redandpink.jpg");
  background-size: cover;
}

.container {
  background-color: rgb(245, 161, 177);
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  margin: 1em 0;
  position: relative;
}

.tabs div {
  padding: 1em;
}

/* 원을 제외한 글자에만 적용되는 스타일*/
.tabs div:not(.circle) {
  z-index: 2; /* 글자를 앞쪽에 배치하기 위해 높은 z-index 값*/
}

/* 원에만 적용되는 스타일 */
.circle {
  background-color: rgb(245, 161, 177);
  border-radius: 50%;
  width: 3em; /*padding 처럼 em*/
  height: 3em;
  position: absolute;
  top: 0.3em;
  z-index: 1; /*원을 글자보다 뒤로 보내기 위한 낮은 z-index 값*/
}
